.parallax1{
    background-image:url("../img/TamanHutanRaya.jpg");
    min-height:600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    
}

.isi span.border{
    background-color: whitesmoke;
    color : black;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
    padding: 10px;
}

.isi1 p{
    text-align:right;
    letter-spacing:5px;
    color:whitesmoke;
    margin-right:8%
}

.isi1 h1{
    text-align:right;
    letter-spacing:8px;
    color:whitesmoke;
    margin-right:8%;
}

.parallax2{
    margin-top: -19px;
    background-image:url("../img/GoaJepangBandung.jpg");
    min-height:450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.parallax3{
    margin-top: 2px;
    background-image:url("../img/tendaApung.jpg");
    min-height:350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.parallax4{
    margin-top: 2px;
    background-image:url("../img/rawpixel-com-211022.jpg");
    min-height:350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.isi2 h1{
    text-align:left;
    letter-spacing:8px;
    color:whitesmoke;
    margin-left:8%;
}

.isi2 p{
    text-align:left;
    letter-spacing:3px;
    color:whitesmoke;
    margin-left:8%
}

.isi3 h1{
    text-align:center;
    letter-spacing:5px;
    color:whitesmoke;
    margin-top:4%;
}

.isi3 p{
    text-align:center;
    letter-spacing:3px;
    color:whitesmoke;
    
}

.parallax5{
    margin-top: 2px;
    background-color: green;
    min-height:100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
}

.isi4 h1{
    text-align:center;
    letter-spacing:5px;
    color:whitesmoke;
    margin-top:4%;
}

.isi4 i{
    text-align:center;
    letter-spacing:3px;
    color:whitesmoke;
    
}

.isi4 p{
    text-align:center;
    letter-spacing:3px;
    color:whitesmoke;
    
}